@import './Variables/variables';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&family=Staatliches&display=swap');
@import './Nav/nav';
@import './Header/header';
@import './Main/main';
@import './Section/section';
@import './Map/map';
@import './Redes/redes';

body {
    overflow-x: hidden;
}