.section-map {
    background-color: #000;

    h2 {
        font-size: 1.5rem;
        font-family: $fuente-logo-dos;
        color: #fff;
    }

    iframe {
        box-shadow: 10px 10px 27px -11px rgba(255, 255, 255, 0.75);
        -webkit-box-shadow: 10px 10px 27px -11px rgba(255, 255, 255, 0.75);
        -moz-box-shadow: 10px 10px 27px -11px rgba(255, 255, 255, 0.75);
    }
}