.section-dias {
    background-image: url('../../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    .filtro {
        position: absolute;
        width: 100%;
        height: 80vh;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .col-12 {
        z-index: 999!important;
    }
    h2 {
        font-size: 1.5rem;
        font-family: $fuente-logo-dos;
        color: #fff;
    }
    .text-hora {
        font-size: 1.5rem;
        font-family: $fuente-logo-dos;
        color: #fff;
        text-shadow: 0 0 10px #fff;
    }

    .text-cupos {
        margin-top: 10rem;
        font-family: $roboto;
    }
    .text-hor {
        font-size: 1.5rem;
        font-family: $fuente-logo-dos;
        color: #fff;
    }
    a{
        font-family: $roboto;
    }
}