header {
    background-image: url('../../img/bgdos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

    .filtro {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .logo-section {
        width: 70%;
        filter: drop-shadow(5px 5px 10px #fff);
        z-index: 10;
    }
    .texto-section {
        color: #fff;
        z-index: 10;
        font-family: $fuente-logo-dos;
        text-align: center;
        h2 {
            font-size: 1.2rem;
        }
    }
    .precio-section {
        z-index: 10;
        color: white;
        h4 {
            font-size: 1rem;
            font-family: $fuente-logo-dos;
            letter-spacing: .5px;
        }
        h1 {
            margin-top: 10px;
            font-size: 5rem;
            font-family: $fuente-logo-dos;
            color: $violeta;
            letter-spacing: 1px;
            text-shadow: 0 0 10px #fff;
        }
    }
    .button-wpp {
        z-index: 10;
    }
}