.bg-sobremi {
    background-color: $violeta;
    h2 {
        font-family: $fuente-logo-dos;
        letter-spacing: .8px;
    }
    p {
        font-family: $roboto;
    }
    li {
        font-family: $roboto;
    }
    .texto-main{
        font-family: $roboto;
        font-size: 1.1rem;
        font-weight: bold;
    }
}